.container {
    max-width: 1500px;
}

.table {
    border: #d4d4d4 solid 1px;
}

.full-width {
    width: 100%;
}
body {
    background: url("/static/claim/img/bg.png") repeat scroll 0% 0% transparent;
}
.navbar {
    position: static;
}

a.popover_links {
    color: #555555;
}

.well {
    margin-bottom: 0px;
    margin-top: -20px;
}

.list-group-item {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    display: block;
    margin-bottom: -1px;
    padding: 5px 10px;
    position: relative;
}

.panel-default > .panel-heading {
    color: rgb(51, 51, 51);
    background-color: rgb(66, 139, 202);
    border-color: rgb(221, 221, 221);
}