{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <!-- new -->
    <meta charset="utf-8">
    <title>{% block title %}{% trans 'Заявки' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->

	<!--<link href="{% static 'claim/css/bootstrap.min.css' %}" rel="stylesheet">-->
	<link href="{% static 'claim/css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'claim/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'claim/css/fullcalendar/jquery-ui.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="claim/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'white/img/apple-touch-icon-144-precomposed.png' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'claim/js/fullcalendar/jquery-ui.custom.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'claim/js/bootstrap.js' %}"></script>
    <link REL="SHORTCUT ICON" HREF="{% static 'claim/img/favicon.ico' %}">
    <!-- new -->
    <script language="javascript">
        $(document).ready(function() {

            $('[rel=popover]').popover({
                placement: 'bottom',
                html : true,
                content: function() {
                  return $('#popover_content_wrapper').html();
                }
            });

        });
    </script>
    {% block extra_head %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% block modals %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>
