{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% if form.errors %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Увага!</strong> Ви Ввели невірний логін чи пароль
    </div>
{% endif %}
    <div class="row">
        <div class="col-xs-6 col-md-4 col-xs-offset-12 col-md-offset-4">
            <h1 style="text-align: center">Вхід</h1>
            <form class="form-horizontal" role="form" method="post" action="{% url 'claim:login' %}">{% csrf_token %}
            <div class="form-group">
                <label for="inputEmail1" class="col-lg-2 control-label">Логін</label>
                <div class="col-lg-10">
                    {{ form.username }}
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword1" class="col-lg-2 control-label">Пароль</label>
                <div class="col-lg-10">
                    {{ form.password }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button type="submit" class="btn btn-default" value="login"><i class="glyphicon glyphicon-log-in"></i> Sign in</button>
                    <input type="hidden" name="next" value="/" />
                </div>
              </div>
            </form>
        </div>
    </div>
{% endblock %}